<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ISystemMonitorServiceContract" />
            </netNamedPipeBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ISystemMonitorServiceContract" />
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPerformanceTuningServiceContract" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:43568/NssService/service/PerformanceTuning"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPerformanceTuningServiceContract"
                contract="NssServicePerformanceTuningService.IPerformanceTuningServiceContract"
                name="WSHttpBinding_IPerformanceTuningServiceContract">
                <identity>
                    <servicePrincipalName value="host/nux" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:43566/NssService/service/SystemMonitor"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISystemMonitorServiceContract"
                contract="NucSoftwareServiceSystemMonitor.ISystemMonitorServiceContract"
                name="WSDualHttpBinding_ISystemMonitorServiceContract">
                <identity>
                    <servicePrincipalName value="host/nux" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/NssService/service/SystemMonitor"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ISystemMonitorServiceContract"
                contract="NucSoftwareServiceSystemMonitor.ISystemMonitorServiceContract"
                name="NetNamedPipeBinding_ISystemMonitorServiceContract">
                <identity>
                    <servicePrincipalName value="host/nux" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>